<h1>Our current Archatypes include:</h1>

<%@archatypes.each do |archatype|%>
<ul>
    <li><a href="archatypes/<%=archatype.id%>"><%=archatype.name%></a></li>
    <ul>
        <li><%=archatype.description%></li>
        <li>They have the following powers through this type:</li>
        <ul>
            <%archatype.powers.each do |power|%>
            <li><%=power.name%></li>
            <ul>
                <li><%=power.effect%></li>
            </ul>
            <%end%>
        </ul>
    </ul>
</ul>
<%end%><br>

<p>Would you like to <a href="/archatypes/new">create a new Archatype.</a></p>
<p>Or, <a href="/characters">view all the characters</a> that have been created.</p>
<p>Or, <a href="/locations">view all the locations</a> that have been created.</p>
<p>Or, <a href="/buildings">view all the buildings</a> that have been created.</p>
<p>Or, <a href="/powers">view all the powers</a> that have been created.</p>
<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage.</a></p>