<h1>Check out all the cool stuff you have!</h1>
<% if @success_message %>

  <p><%= @success_message %></p>
  
<% end %>

<h2>Welcome, <%=@user.name%>!</h2>

    <h3> Characters by, <%=@user_page.name%>!</h3>
        <ul>
            <%if @characters == []%>
                <em><p>Yo do not have any characters yet!</p></em>
            <%else%>
                <%@characters.each do |character|%>
                    <li><a href="/characters/<%=character.id%>"><%=character.name%></a></li><br><br>
                <%end%>
            <%end%>
        </ul>
<p>Would you like to <a href="/users/<%=@user.id%>/edit">edit this user?</a></p>
<p>Or...</p>
<form action="/users/<%=@user.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete User">  
</form>
<p>You can also create a new <a href="/characters/new">create a new character.</a></p>
<p>Or, <a href="/characters">view all the characters</a> that have been created.</p>
<p>Or, <a href="/locations">view all the locations</a> that have been created.</p>
<p>Or, <a href="/buildings">view all the buildings</a> that have been created.</p>
<p>Or, <a href="/archatypes">view all the archatypes</a> that have been created.</p>
<p>Or, <a href="/powers">view all the powers</a> that have been created.</p>
