<h2>Welcome, <%=@user.name%>!</h2>

<h1>Our current Buildings include:</h1>

<%@buildings.each do |building|%>
<ul>
    <li><a href="buildings/<%=building.id%>"><%=building.name%></a></li>
    <ul>
        <li><%=building.description%></li>
    </ul>
</ul>
<%end%>

<h3>Would you like to <a href="/buildings/new">create a new building</a></h3><br>
<h3>Or, <a href="/characters">view all the characters</a> that have been created?</h3><br>
<h3>Or, <a href="/locations">view all the locations</a> that have been created?</h3><br>
<h3>Or, <a href="/archatypes">view all the archatypes</a> that have been created?</h3><br>
<h3>Or, <a href="/powers">view all the powers</a> that have been created?</h3></h3><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage?</a></h3><br>