<h2>Welcome, <%=@user.name%>!</h2>

<h1>Our current Buildings include:</h1>

<%@buildings.each do |building|%>
<ul>
    <li><a href="buildings/<%=building.id%>"><%=building.name%></a></li>
    <ul>
        <li><%=building.description%></li>
    </ul>
</ul>
<%end%><br>

<p>Would you like to <a href="/buildings/new">create a new building</a></p>
<p>Or, <a href="/characters">view all the characters</a> that have been created?</p>
<p>Or, <a href="/locations">view all the locations</a> that have been created?</p>
<p>Or, <a href="/archatypes">view all the archatypes</a> that have been created?</p>
<p>Or, <a href="/powers">view all the powers</a> that have been created?</p></p>
<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage?</a></p>