<h1>Check out this cool Building!</h1>

<h2>Welcome, <%=@user.name%>!<h2>


<h3><%=@building.name.capitalize%></h3>
<p><%=@building.description%></p><br>
<p>Located in <%=@building.location.name%></p>
<p>with the special properties: <%=@building.special_properties%></p>
<p>This building is associated with the following characters:<p>
<ul>
    <%@building.characters.each do |character|%>
    <li><a href="characters/<%=character.id%>"><%=character.name%></a><li>
    <%end%>
</ul>

    

<h3>Would you like to <a href="/buildings/new">create a new building.</a><br>
<h3>Would you like to <a href="/buildings/<%=@building.id%>/edit">edit this building.</a><br>
<h3>Would you like to <a href="/buildings">review available buildings.</a><br>
<h3>Would you like to <a href="/locations">review available locations.</a><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a><br>