<h1>All of our friends</h1>

<ul>
    <%@characters.each do |character|%>
    <li><a href="/characters/<%=character.id%>""><%=character.name%></a></li>
    <%=character.archatypes%>
    <ul>
        <p>Is a <%=character.archatypes%>, who hails from <%=character.locations%>.</p><br>
        <p><%=character.name%> tells this tale of their origin...</p><br>
        <p><%=character.description%></p><br>
    </ul>
<%end%><br><br>
<h3>Would you like to <a href="/characters/new">create a new character.</a><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a><br>