<h1>All of our friends</h1>

<ul>
    <%@characters.each do |character|%>
    <li><%=character.name%></li>
    <ul>
        <li><%=character.name%> tells this tale of their origin...</li>
            <ul>
                <li><%=character.description%></li>
            </ul>
        <li><%=character.name%> hails from:</li>
        <%character.locations.each do |location|%>
        <ul>
            <li><%=location.name%></li>
                <ul>
                    <li><%=location.description%></li>
                </ul>
            <li>This Locations Buildings</li>
                <ul>
                    <%location.buildings.each do |building|%>
                    <li><%=building.name%></li>
                    <ul>
                        <li><p>Description: <%=building.description%></li>
                        <li><%=building.special_properties%></li>
                    </ul>
                    <%end%>
                </ul>
        </ul>
        <%end%></li>
    </ul>
    <%end%>
</ul>