<h1>Check out all the cool stuff you have!</h1>

<h2>Welcome, <%=@user.name%>!</h2>

    <h3><%=@character.name%>!</h3>
        <ul>
            <h4>Backstory:</h4>
                <ul>
                    <li><%=@character.description%></li>
                </ul>
            <h4>Level:</h4>
                <ul>
                    <li><%=@character.level%></li>
                </ul>
            <h4>Locations:</h4>
            <ul>
                <%@character.locations.each do |l|%>
                    <li><%=l.name%></li>
                    <ul>
                        <li><%=l.description%></li>
                    </ul>
                <%end%>
            </ul>
            <h4>Buildings:</h4>
            <ul>
                <%@character.buildings.each do |l|%>
                    <li><%=l.name%></li>
                    <ul>
                        <li><%=l.description%></li>
                        <li><%=l.special_properties%></li>
                    </ul>
                <%end%>
            </ul>
            <h4>Archatypes:</h4>
            <ul>
                <%@character.archatypes.each do |l|%>
                    <li><%=l.name%></li>
                    <ul>
                        <li><%=l.description%></li>
                    </ul>
                <%end%>
            </ul>
            <h4>Powers:</h4>
            <ul>
                <%@character.powers.each do |l|%>
                    <li><%=l.name%></li>
                    <ul>
                        <li><%=l.effect%></li>
                    </ul>
                <%end%>
            </ul>
        </ul>

<p>Would you like to <a href="/characters/<%=@character.id%>/edit">edit this character.</a></p>
<p>Would you like to <a href="/characters/new">create a new character.</a></p>
<p><a href="/characters">View all the characters</a> that have been created.</p>
<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage.</a></p>


