<h1>Lets review this location.</h1>

<h2>Welcome, <%=@user.name%>!</h2>

<h3>Tell us about this place:</h3><br>
<form action="/locations/<%=@location.id%>" method="post">
<input type="hidden" id="hidden" name="_method" value="PATCH">
    <label>What is the name of this location?</label><br>
    <input type="text" name="location[name]" id="location[name]" value="<%=@location.name%>"><br><br>

    <label>What is it like there?</label><br>
    <input type="text" name="location[description]" id="location[description]" value="<%=@location.description%>"><br><br>

    <label>What is the weather like?</label><br>
    <input type="text" name="location[weather]" id="location[weather]" value="<%=@location.weather%>"><br><br>

    <label>hmmm... very interesting. With weather like that, what are the houses like?</label><br>
    <input type="text" name="location[housing]" id="location[housing]" value="<%=@location.housing%>"><br><br>

<h4>Places of interest here:</h4>

    <%@location.buildings.each do |building|%>
       <p><a href="/buildings/<%=building.id%>"><%=building.name%><a></p>
       <ul>
        <li><%=building.description%></li>
        </ul>
    <%end%><br>
    <input type="submit" value="Edit">
</form><br><br>
    
<form action="/locations/<%=@location.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete location">
</form>

<p>Would you like to <a href="/locations/new">create a new location.</a></p>
<p>Or, <a href="/locations">view all the locations</a> that have been created.</p>
<p>Or, <a href="/buildings">view all the buildings</a> that have been created.</p>
<p>Would you like to <a href="/buildings/new">add a new building.</a></p>
<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage.</a></p>