<h1>Check out all this cool location!</h1>

<h2>Welcome, <%=@user.name%>!<h2>


<h3><%=@location.name.capitalize%></h3>
<p><%=@location.description%></p><br>
<p>The weather is: <%=@location.weather%></p>
<p>Looking around the buildings look like: <%=@location.housing%></p>
    

<h3>Buildings of interest located here:</h3>
<ul>
    <%@location.buildings.each do |building|%>
        <li><%=building.name.capitalize%></li>
        <ul>
            <li><%=building.description%></li>
            <li><%=building.special_properties%></li>
        </ul>
    <%end%>
    </ul>
</ul><br>

<h3>Would you like to <a href="/locations/new">create a new location.</a><br>
<h3>Would you like to <a href="/locations/<%=@location.id%>/edit">edit this location or add a new building.</a><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a><br>